.mensaje{
	font-family: Helvetica;
	font-size: 11px;
	margin:0px; 
	padding:0px; 
	border:0px; 
	height: 100%;
	border-radius: 5px 5px 5px 5px;
}

.encabezadoTabla{
	background-color: #ccd5de;
	color: #2f5e97;
	font-weight: bold;
	height: 30px;
	text-align: center;
	font-size: 12px;
}

.navResultado{
    margin: 10px auto;
    text-align: left;
    width: 20%;
}


.navResultado ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
	behavior: url("/SRCU/js/Jquery/PIE.htc");
}

.navResultado ul li {
    display: inline-block;
    *display: inline;
	behavior: url("/SRCU/js/Jquery/PIE.htc");

}

.resultado-bordeado ul li a {
    color: #9aaabc;
	font-weight: bold;
    text-align: center;
    padding: 7px 10px;
    *padding: 7px 5px;
    _padding: 7px 5px;
    text-decoration: none;
    border-style: solid;
    border-radius:5px;
    border-width: 1px;
    border-color: #9aaabc;	
	font-size: 10px;
	behavior: url("/SRCU/js/Jquery/PIE.htc");
}

.resultado-bordeado ul li a:hover {
	color : #2f5475;
    border-color: #2f5475;
	font-weight: bold;
}


.resultado-bordeado .activo a{
    color: #FFF;
    background-color: #9aaabc;    
}
.resultado-bordeado .activo a:hover{
    color: #FFF;
    background-color: #9aaabc;    
    border-color: #9aaabc;
}

.contenedor{
  width: 450px;
  text-align: center;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #888;
  font-size: 14px;
} 


.acciones{
  text-align: center;
}

.acciones a{
  display: inline;
  font-size: 12px;
  cursor: pointer;
  color: #546e7a;
  font-weight: bold;
  padding: 5px 20px;
  border: 1px solid #546e7a;
  margin-left: 20px;
  border-radius: 3px;
}

.acciones a:hover{
  background-color: #546e7a;
  color: #f6f6f6;
}